.about-title h1
{
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 5px 5px 5px lightgrey;
    margin-top: 15px;
    margin-bottom: 30px;
}

.about-content p
{
    font-size: 24px;
}